/* Make all the font Arial*/
body {
    font: Arial;
}

/* Center text */
.centered {
    text-align: center;
}

/* Create rows */
.row {
    display: flex;
    flex-direction: row;
    text-align: left;
}

/* create left column using images and text */
.leftColumn {
    float: left;
    width: 60%;
}

/* Create right column */
.rightColumn {
    float: left;
}

/* Tooltip for mouse events */
.tooltip {
    position: absolute;
    background-color: grey;
    border: solid;
    padding: 5px;
}
